**/__pychache__
**/*.pyc

venv
.env
.coverage
.venv/
.venv*/
.idea/

staticfiles/
htmlcov
__data/

data/sts
data/response_old_sts
data/sts
data/redirection-rules.json


deployment-version-beta.txt
deployment-version-staging.txt
deployment-version-dev.txt
