{% extends "dashboard/base.html" %}

{% block content %}

<div class="py-4">
    <h2 class="mb-0">Update SiteEnabaleSetES</h2>
</div>

<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">

                    <!-- Security token -->
                    {% csrf_token %}

                    <!-- Using the formset -->
                    <div class="row">
                        {% for field in form.visible_fields %}
                            {% if field.name == 'brands'%}
                                <div class="col-md-12">
                                    <h3>Brands</h3>
                                    <ul class="list-unstyled card-columns" style="column-count: 4;">
                                        <div class="form-check">
                                            <input class="form-check-input" name="all_brands" type="checkbox" value="True" id="select_all_brands">
                                            <label class="form-check-label" for="select_all_brands">
                                                Select All Brands
                                            </label>
                                        </div>

                                        {% for brand in form.brands %}
                                            <div class="p-2 d-flex gap-2">
                                            {{ brand }}
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <div class="col-md-8">
                                    <span>{{ field.label_tag }}</span>
                                    <p>
                                    {{ field.errors }}
                                    {{ field }}
                                    {{ field.help_text }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="d-flex align-items-center gap-2 justify-content-between pt-2">
                        <button type="button" class="btn btn-sm btn-outline-gray-200 d-inline-block align-items-center" onclick="goBack()">
                            Back
                        </button>

                        <button class="btn btn-gray-800 btn-sm" type="submit" value="Submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    // Go back button
    function goBack() {
        window.history.go(-1);
    }
</script>

<script>
    $(document).ready(function() {
        $('#select_all_brands').click(function() {
            checked = $("input[type=checkbox][name='all_brands']").prop('checked')

            if(checked){
                el = $("input[type=checkbox][name='brands']").prop('checked', true);
            } else {
                el = $("input[type=checkbox][name='brands']").prop('checked', false);
            }
        });
    });
</script>


{% endblock content %}