{% extends "admin/base_site.html" %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<style>
    select {
        padding-top: 0;
        padding-bottom: 0;
    }
</style>
{% endblock %}


{% block content %}
<div class="container">
    <h2>Bulk Clone Ratio Sets</h2>
    <p>Total {{total_counts}} ratios are going to clone!</p>
    <form method="post" action="{% url 'admin:bulk_clone_ratio_set' %}" class="row mt-5">
        {% csrf_token %}
        {% for ratio_set_id in selected_object_ids %}
            <input type="hidden" name="ratio_set_ids" value="{{ratio_set_id}}">
        {% endfor %}
        <div class="col-12">

            <ul class="list-unstyled card-columns" style="column-count: 3;">
                <div class="form-check">
                    <input class="form-check-input" name="all_brands" type="checkbox" value="True" id="select_all_brands">
                    <label class="form-check-label" for="select_all_brands">
                        Select All Brands
                    </label>
                </div>
                {% for brand in brands %}

                        <div class="form-check">
                            <input name="brands" type="checkbox" value="{{ brand.id }}">
                            <label class="form-check-label">
                                {{ brand.name }}
                            </label>
                        </div>

                {% endfor %}

            </ul>
        </div>
        <div class="col-2 mt-5">

            <button type="submit" class="btn btn-success" id='bulk_clone' value="Bulk Add">Bulk Clone</button>

        </div>
        <div class="col-2 mt-5">
            <a type="button" class="btn btn-danger text-white" href="/sts/brandlocationdefinedsetsratio/">Cancel</a>
        </div>
    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#select_all_brands').click(function() {
                checked = $("input[type=checkbox][name='all_brands']").prop('checked')

                if(checked){
                    el = $("input[type=checkbox][name='brands']").prop('checked', true);
                } else {
                    el = $("input[type=checkbox][name='brands']").prop('checked', false);
                }

            });
        });
    </script>
</div>
{% endblock content %}