{% extends "dashboard/base.html" %}

{% block content %}
<div class="card border-0 shadow mb-4 mt-3">
    <div class="activity-buttons">
        {% if perms.brands.add_brand %}
        <a href="{% url 'brand-add' %}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
            <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
            Add Brand
        </a>
        {% endif %}
        {% if perms.brands.delete_brand %}
        <button id="bulk_delete" class="btn btn-sm btn-danger d-inline-flex align-items-center">
            <svg class="pe-2" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="currentColor">
                <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
            </svg>
             Bulk Delete
        </button>
        {% endif %}
    </div>

    <div class="card-header d-flex align-items-center justify-content-between py-4">
        <h4 class="mb-0">Brand List</h4>
        <div class="d-flex align-items-center gap-3">
            <input type="text" id="search_input" value="{% if request.GET.search %} {{request.GET.search}} {% endif %}" placeholder="Enter name or key">
            <button id="search_btn" class="btn btn-sm btn-gray-800 " type="button">Search</button>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="dropdown">
                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg fill="#ffffff" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-56.1 -56.1 442.20 442.20" xml:space="preserve" stroke="#ffffff" stroke-width="16.830000000000002">
                        <g id="SVGRepo_bgCarrier" stroke-width="0">
                            <rect x="-56.1" y="-56.1" width="442.20" height="442.20" rx="0" fill="#1F2937" strokewidth="0"></rect>
                        </g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.66"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path>
                        </g>
                    </svg>
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0" style="">
                    <span class="small ps-3 fw-bold text-dark">Show</span>
                    <button class="paginate_by dropdown-item d-flex align-items-center fw-bold">10</button>
                    <button class="paginate_by dropdown-item fw-bold">20</button>
                    <button class="paginate_by dropdown-item fw-bold rounded-bottom">30</button>
                </div>
            </div>
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                <tr>
                    <th class="border-0 rounded-start ps-3">
                        <div class="p-1 d-flex gap-2">
                            <input class="form-check-input" name='all_brand_ids' id="select_all_ratios" type="checkbox" >
                            <span>ID</span>
                        </div>
                    </th>
                    <th class="border-0">Name</th>
                    <th class="border-0">Key</th>
                    <th class="border-0">Sort Order</th>
                    <th class="border-0">Alias</th>
                    <th class="border-0">Show Partners</th>
                    <th class="border-0 rounded-end">Action</th>

                </tr>
                </thead>
                <tbody>
                {% for brand in object_list %}
                <!-- Item -->
                <tr>
                    <td>
                        <div class="p-0 d-flex gap-2">
                            <input class="form-check-input ps-2 " name="brand_ids" type="checkbox" value="{{ brand.id }}" >
                            <a href="{% url 'brand-detail' brand.id %}" class="text-primary fw-bold">{{ brand.id }}</a>
                        </div>
                    </td>
                    <td>
                        <a href="{% url 'brand_update' brand.id %}" class="text-success">{{ brand.name }}</a>
                    </td>
                    <td>
                        {{ brand.key }}
                    </td>
                    <td>
                        {{ brand.sort_order }}
                    </td>
                    <td>
                        {{ brand.alias }}
                    </td>
                    <td>
                        {% for obj in brand.get_partners %}
                        <span class="badge rounded-pill bg-warning">
                                    {{ forloop.counter }}. <span class='bg-red'>{{ obj.partner.name }}</span>
                                </span>
                        {% endfor %}
                    </td>
                    <td>

                        <span class="d-flex align-items-center gap-2">
                             {% if perms.brands.change_brand %}
                        <a class="view-btn" href="{% url 'brand_update' brand.id %}" title="Edit">
                        <svg width="14.26" height="14" viewBox="0 0 15 14" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8627 0.175378C13.1396 0.291144 13.3908 0.460759 13.6017 0.674378C13.8138 0.886749 13.9817 1.13914 14.0955 1.4169C14.2093 1.69466 14.2669 1.99226 14.2648 2.29243C14.2626 2.5926 14.2009 2.88936 14.0832 3.1655C13.9655 3.44163 13.7941 3.69163 13.579 3.901L12.1282 5.35185L8.92421 2.1479L10.3751 0.674378C10.5859 0.460759 10.8371 0.291144 11.1141 0.175378C11.391 0.0596125 11.6882 0 11.9884 0C12.2885 0 12.5857 0.0596125 12.8627 0.175378ZM1.51062 9.56085L7.85052 3.22095L11.0318 6.44757L4.6919 12.7875C4.63347 12.8443 4.56733 12.8926 4.49544 12.9311L1.0786 13.9244C0.974972 13.9746 0.861249 14.0004 0.746111 13.9999C0.616476 13.9983 0.489443 13.9633 0.377227 13.8984C0.265011 13.8335 0.171386 13.7408 0.105355 13.6292C0.0393247 13.5176 0.00310912 13.391 0.000191427 13.2614C-0.00272627 13.1317 0.027752 13.0036 0.0886953 12.8891L1.36704 9.75732C1.40545 9.68542 1.45378 9.61928 1.51062 9.56085Z" />
                        </svg>
                        </a>
                        {% endif %}

                             {% if perms.brands.view_brand %}
                        <a class="view-btn" href="{% url 'brand-detail' brand.id %}" title="View">
                        <svg class="icon icon-xxs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path><path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path></svg>
                        </a>
                        {% endif %}

                        {% if perms.brands.delete_brand %}
                        <a class="delete-btn" href="{% url 'brand-delete' brand.id %}" title="Delete">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="currentColor"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                        </a>
                        {% endif %}
                        </span>
                    </td>
                </tr>
                <!-- End of Item -->
                {% endfor %}

                </tbody>
            </table>

            {% if is_paginated %}
            <div class="table-footer border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between pb-0">
                <nav aria-label="Page navigation example">
                    <ul class="pagination mb-0">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'brands-list' %}?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                        {% endif %}

                        {% for page_num in page_obj.paginator.page_range %}
                        {% if page_num > page_obj.number|add:"-5" and page_num < page_obj.number|add:"5" %}
                        <li class="page-item {% if page_num == page_obj.number %}active{% endif %}">
                            <a class="page-link" href="{% url 'brands-list' %}?page={{ page_num }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{ page_num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'brands-list' %}?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <div class="fw-normal small mt-4 mt-lg-0">
                    Showing <b>{{ page_obj.start_index }}</b> - <b>{{ page_obj.end_index }}</b> out of <b>{{ page_obj.paginator.count }}</b> entries
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#message-div').fadeOut('slow');
        }, 5000);

        $('#select_all_ratios').click(function() {
            console.log($(this));
            checked = $("input[type=checkbox][name='all_brand_ids']").prop('checked')
            console.log(checked);
            if(checked){
                el = $("input[type=checkbox][name='brand_ids']").prop('checked', true);
                console.log(el.length);
            } else {
                el = $("input[type=checkbox][name='brand_ids']").prop('checked', false);
            }
        });

        // bulk delete functionality here
        $('#bulk_delete').click(function(){
            el = $("input[type=checkbox][name='brand_ids']")
            let id_list = [];
            $.each(el, function( index, value ) {
                if(el[index].checked == true){
                    id_list.push(el[index].value);
                }
            });
            let data = {
                bulk_delete_ids: id_list
              }
            let url = "{% url 'brands-list' %}";
            // call function for get request
            $.fn.get_request(url, data, function () {
                location.reload();
            });
        });
        // bulk delete functionality end here

        // reuse function for get request
        $.fn.get_request = function(request_url, payload, successCallback){
            $.ajax({
              url: request_url,
              type: "GET",
              data: payload,
              traditional: true,
              success: function(response) {
                console.log("success");
                if (successCallback && typeof successCallback === 'function') {
                    successCallback();
                }
              },
              error: function(xhr) {
                console.log("failed");
              }
            });
        }
        // end reuse function for get request
    });
</script>
<script>
    // get data by pagination
    $(".paginate_by").click(function(e){
        let paginate = e.target.getInnerHTML();
        let path = window.location.pathname;
        let urlParams = new URLSearchParams(window.location.search);

        if(urlParams.has('paginate_by')){
            urlParams.set('paginate_by', paginate);
        }else{
            urlParams.append('paginate_by', paginate);
        }
        let newUrl = path + '?' + urlParams.toString();
        window.location.href = newUrl;
    });

</script>
<script>
    // for search functionality
    $("#search_btn").click(function(){
        let search_text = $("#search_input").val();
        let path = window.location.pathname;
        let urlParams = new URLSearchParams(window.location.search);

        let data = {
            search: search_text
        }
        let url = "{% url 'brands-list' %}";
        // call function for get request
        $.fn.get_request(url, data);

        if(urlParams.has('search')){
            urlParams.set('search', search_text);
        }else{
            urlParams.append('search', search_text);
        }
        let newUrl = path + '?' + urlParams.toString();
        window.location.href = newUrl;
    });
    // end search functionality
</script>

{% endblock javascripts %}
